<div>
  <p>
    <%= link_to "Upload photos", new_photo_path %>
  </p>

  <% if @photos.empty? %>
    <p>There is still no photos to display.</p>
  <% else %>
    <% @photos.each do |photo| %>
      <div>
        <p>
          <%= link_to photo.user.username, profile_path(photo.user.username) %>
        </p>
        <%= link_to photo_path(photo) do %>
          <%= image_tag photo.photo.variant(resize: '200', gravity: 'Center', crop: '200x200+0+0') %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
